body {
    min-height: 100vh;
    background-color: #B5D5C5
}

.container {
    width: 1000px;
    height: 700px;
    background-color: #A75D5D;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.box {
    width: 400px;
    height: 160px;
    background-color: #F8EDE3;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}


.box-1 {
    display: flex;
    align-items: flex-end;

}


.box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-3 {}


.box-4 {}


.box-5 {}



.square {
    width: 78px;
    height: 78px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
}


.rectangle {
    width: 78px;
    height: 120px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
}